*{
    margin: 0;
    margin-left: 10;
    padding: 0;
}

header{
    background-color: rgb(92, 27, 146);
    padding: 5px;
}

#highlight{
    color: yellow;
    text-align: left;
    margin-left: 10px;
    padding: 0.5vw;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #ddd;
}

nav ul li{
    float: left;
    padding: 0.7vw;
    margin-left: 10px;
    color: black;
}

nav ul li a{
    text-decoration: none;
}

.navbar:hover{
    background-color: rgb(240, 224, 224);
}

.navbar a:hover{
    color: blue;
}


#title{
    text-align: center;
    padding: 1vw;
}

div.content p{
    float: left;
    width: 33.3%;
    text-align: justify;
    padding: 1vw;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    #highlight{
        text-align: center;
    }

    #title{
        margin-top: 20px;
    }

    nav ul{
        padding: 5px;
        /* position: relative; */
        text-align: center;
    }

    nav ul li{
        font-size: 4vw;
        display: inline;
        float: none;
    }

    div.content p{
        float: none;
        padding: 15px;
        width: 100%;
    }

    body header{
        position: sticky;
        /* z-index: 1; */
        top: 0px;
    }
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
} */